<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Fishy Business</title>
        <meta name="author" content="Ty Allembert">
        <meta name="description" content="CS 121 final project web app">
        <!--<link rel="icon" href="images/landscape.png">-->
        <link rel = "stylesheet"
            href = "../static/custom.css"
            type = "text/css">
        <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        <script src="../static/script.js" defer></script>
    </head>
    <body>
        <nav>
            <!--Fish Logo-->
            <a class = 'logoLink' href = 'index.html'>
                <figure class = 'fishLogo'>
                    <img
                    alt = 'Little fish boi'
                    src = '../static/images/clown-fish.png'
                >
                </figure>
                <!--Logo Word-->
                <section class = 'logoWordContainer'>
                    <p class = 'fishy'>Fishy</p>
                    <div></div>
                    <p class = 'business'>Business</p>
                </section>
            </a>
            <section class = "navSection">
                <a href = "index.html">Play</a>
                <a href = "leaderboard.html">Leaderboard</a>
                <a href = "howToPlay.html">How To Play?</a>
            </section>
        </nav>
        <main>
            <h1>Leaderboard</h1>
            <section class = "leaderboardContainer">
                
            </section>
        </main>
    </body>
</html>